---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1> About </h1>
		<p>
			This is the about page
		</p>
	</main>
</Layout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
